:root {
    --default: #D9D9D9;
    --primary: #969191;
    --secondary: #FF6922;
    --light: #EFFDF5;
    --dark: #0E2E50;
}

body {
    background: #F6F8BC;
}

.box-area{
    width: 930px;
}

/*------------ right content ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}


/*------------ custom placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100%;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }
}

button{
    height: 45px;
}
