:root {
    --default: #D9D9D9;
    --primary: #969191;
    --secondary: #FF6922;
    --light: #EFFDF5;
    --dark: #0E2E50;
    --background: #F6F8BC;
    --blue: #8EC6E5;
    --pink: #FADEDE;
    --green: #B8FAEA;
    --gray: #D9D9D9;

}

.color-1{
    background-color: #FFF1F1;
}

.color-2{
    background-color: #FBF6CF;
}

.color-3{
    background-color: #E5E5E3;
}

.color-4{
    background-color: #A5D2EB;
}

.color-5{
    background-color: #E99090;
}

.color-6{
    background-color: #D7E4C7;
}

.color-7{
    background-color: #FFE1B4;
}

.color-8{
    background-color: #E7B5FF;
}

.color-9{
    background-color: #B0FFE3;
}

.color-10{
    background-color: #B7C3E1;
}

body{
    font-family: "Averia Libre", system-ui;
}

p, a, h1, h2, h3{
    font-family: "Averia Libre", system-ui;
}

input:disabled {
    background-color: var(--background);  
    border-color: var(--background); 
}
.box-content {
    border: 1px solid white;
    padding: 20px;
    text-align: center;
}

.box-icon {
    border: 1px solid white;
    padding: 2px;
    text-align: center;
    width: 80px;
    height: 80px;
    margin-top: 1rem;
    margin-right: 1rem;
}

.box-custom{
    height: 150px;
}

.bg-yellow{
    background: var(--background);
}

.bg-blue{
    background: var(--blue);
}

.bg-pink{
    background: var(--pink);
}

.bg-green{
    background: var(--green);
}

.bg-gray{
    background: var(--gray);
}

.top-left-image {
    top: 0;
    left: 0;
    max-width: 40px;
    height: auto;
    margin: 1rem;
}

.bottom-left-image {
    bottom: 0;
    left: 0;
    width: 85px;
    height: 85px;
    height: auto;
    margin-top: 2rem;
    margin-left: 1rem;
}

.font-custom{
    font-size: 12px;
}

/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

    .box-area{
       margin: 0 10px;
       overflow: hidden; 
    }
    .left-box{
       height: 100%;
       overflow: hidden;
    }
    .right-box{
       padding: 20px;
    }

    .group-custom{
        flex-wrap: wrap;
    }

    .bg-yellow{
        background: var(--background);
        margin:1rem;
    }
    
    .bg-blue{
        background: var(--blue);
        margin:1rem;
    }
    
    .bg-pink{
        background: var(--pink);
        margin:1rem;
    }

    p{
        margin: 1rem;
    }

    .btn-custom{
        margin-left: 1rem;
    }
  
}

.text-container {
    position: relative;
    /* padding-bottom: 100px; Sesuaikan dengan tinggi gambar */
}
.bottom-left-image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 170px;
    height: auto;
}